body {
  position: relative;
}

.box {
  height: 25px;
  width: 25px;
  border: 1px solid red;
  position: absolute;
}

#element2 {
  height: 25px;
  width: 25px;
  border: 1px solid blue;
  position: absolute;
  top: 25%;
  left: 25%;
}